@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
$base-color: #2d545e;
$base-shadow: #12343b;
$light-color: #e1b382;
$light-shadow: #c89666;
$background-gray: #f5f5f5;
$fancy-font: 'Kurale', serif;
.App {
    margin: 0px;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    height: auto;
    overflow-y: auto;
    ::-webkit-scrollbar { 
        display: none; 
    }
    h1 {
        font-size: 3rem;
    }
    h2{
        font-size: 1.5rem;
        font-weight: bolder;
        font-weight: 1000;
    }
    p {
        font-size: 1rem;
    }
}
.Content {
    ::-webkit-scrollbar { 
        display: none; 
    }
}
.Nav-Bar {
    position: fixed;
    top:0;
    padding-left: 12.5vw;
    min-width: 100%;
    height: 50px;
    background-color: $base-color;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid 2px $light-shadow;
    z-index: 1;
}
.Nav-Button {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 10px;
    color: white;
    background-color: transparent;
    height: 20px;
    cursor: pointer;
    transition: all .15s ease-in;
    h2{
        font-size: 1rem;
        border-bottom: solid 2px transparent;
        transition: .15s ease-in;
    }
}

.Nav-Button:hover{
    color: $light-color;
    h2{
        border-bottom: solid 2px $light-shadow;
    }

}
#My-Name{
    color: $light-color;
    font-weight: bold;

}
.Cover {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 3rem;
    }
        min-width: 100%;
        min-height: 100vh;
        background: linear-gradient(-45deg, $base-color, $base-shadow, $base-color,$base-shadow,$base-color, $base-shadow, $base-color,$base-shadow,$base-color, $base-shadow, $base-color,$base-shadow, $base-color, $base-shadow, $base-color,$base-shadow,$base-color, $base-shadow, $base-color,$base-shadow,$base-color, $base-shadow, $base-color,$base-shadow,);
        background-size: 1000% 1000%;
        animation: gradient 80s linear infinite;
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}
.Cover-Button{
    margin-top: 50px;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width: 250px;
    height: 30px;
    border: solid 4px white;
    cursor: pointer;
    transition: .25s ease-in;
    i {
        transition: .25s ease-in;
    }
}
.Cover-Button:hover {
    color: $base-shadow;
    background-color: $light-color;
    i  {
        transform: rotate(90deg);
    }
}
.About {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 50px;
}
.Page-Title {
    margin-top: 75px;
    h1{
        border-bottom: solid 2px;
        font-weight: bold;
    }
}
.About-List {
    display: flex;
    justify-content: space-around;
    width: 75vw;
    height: auto;
    margin-top: 100px;
}
.List-Item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    text-align: center;
    h2{
        margin-top: 10px;
    }
    p{
        margin-top: 5px;
        max-width: 200px;
    }
}
.Circle {
    font-size: 3rem;
    color: $light-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $base-color;
    border: solid 10px $base-shadow;
    width: 100px;
    height: 100px;
}
.About-Section {
    display: flex;
    justify-content: space-between;
    width: 75vw;
}
.Experience {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;

}
.Profile-Box {
    width: 37.5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    h2 {
        margin-top: 25px;
        text-align: center;
        // font-family: $fancy-font;
    }
    p{
        margin-top: 25px;
        text-align: center;
        width: 375px;
        font-style: italic;
        line-height: 1.6;
    }
    img {
        height: auto;
        width: 300px;
        border-radius: 50%;
        border: solid 20px $base-shadow;
    }
}
.Skills-Box {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Skill {
    margin-right: 10px;
    margin-bottom: 50px;
    border: solid 10px $base-shadow;
    color: $base-color;
    width: 150px;
    height: 85px;
    background-color: $light-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    h2{
        margin-left: 5px;
        margin-right: 5px;
    }
    i{
        margin-left: 5px;
        margin-right: 5px;
    }
}
.Projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background-color: $background-gray;
    background-size: 100%;
    background-position: cover;
    h1 {
        color: $base-shadow;
    }
}
.Projects-List {
    margin-top: 50px;
    width: 70vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.Project-Box {
    width: 470px;
    height: 250px;
    background-color: $base-color;
    transition: .25s ease-in-out;
    border: solid 5px $base-shadow;
    cursor: pointer;
    .Project-Words{
        display: none;
    }
    img {
        width: 470px;
        height: 250px;
        transition: .25s ease-in-out;
    }
}
.Project-Box:hover {
    background-color: $light-color;
    border: solid 5px $light-shadow;
    img{
        height: 0px;
        margin: 0px;
        padding: 0px;
    }
    .Project-Words {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 100%;
        color: $base-color;
        button {
            margin-top: 20px;
            width: auto;
            height: 40px;
            color: white;
            border: solid 2px;
            padding: 10px;
            background-color:transparent;
            transition: .25s ease-in;
        }
        button:hover {
            background-color: $base-color;
        }
    }
    h2{
        text-align: center;
        margin-top: 8%;
        font-size: 2rem;
    }
    h3{
        text-align: center;
        margin-top:2%;
        font-size: 1.5rem;
    }
}
.Highlight {
    position: fixed;
  bottom: 12.5%;
  right: 12.5%;
  width: 75%;
  height: 75%;
  border: 10px solid $light-color;
  box-shadow: 5px 5px 15px 5px $base-shadow;
  background-color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $base-shadow;
  padding: 15px;
  h1 {
      margin: 15px;
  }
  h2{
      margin: 15px;
  }
  p{
      margin: 15px
    }
    button {
        width: auto;
        height: 40px;
        color: $base-color;
        border: solid 2px;
        padding: 10px;
        background-color:transparent;
        transition: .25s ease-in;
    }
    button:hover {
        background-color: $light-color;
    }
}
.Exit {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 15%;
  right: 14%;
  width: 10%;
  height: 30px;
  background-color: $background-gray;
  border: 10px solid $base-color;
  border-radius: 5px;
  color: $base-shadow;
  z-index: 1;
  transition: .25s ease-in;
}
.Exit:hover {
    cursor: pointer;
    box-shadow: 5px 5px 15px 5px $base-shadow;
    
}

.Good-true{
    display: flex;
}
.Good-false{
    display: none;
}
.Technoglyph-true{
    display: flex;
}
.Technoglyph-false{
    display: none;
}
.Ffaas-true{
    display: flex;
}
.Ffaas-false{
    display: none;
}
.Fund-true{
    display: flex;
}
.Fund-false{
    display: none;
}
.Split {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.Spliting {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Stack {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: flex-start;
    min-height: 450px;
}
.Stack2 {
    max-height: 450px;
    min-width: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: flex-start;
    border-left: solid 10px $light-color;
    background-color: $background-gray;

    p{
        min-width: 200px;
        max-width: 200px;
    }
    img {
     width: 400px;
     height: 200px;
   margin: 10px;
    }
}